[submodule "api"]
	path = api
	url = https://github.com/BhoneMyat784/property-api.git
[submodule "app"]
	path = app
	url = https://github.com/BhoneMyat784/property-app.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/BhoneMyat784/property-mobile.git
